:root {
  --colorePrimario: #00665c;
  --coloreSecondario: #01564a;
  --coloreTitoliBianchi: white;
  --coloreTestiNeri: #272a2f;
  --coloreBackgroundFooter: #000000;
  --coloreSfondoPiccolaNav: #f9fafa;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", arial, sans-serif;
}

/* NAVBAR IN ALTO */

div.registra-aiuto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--coloreSfondoPiccolaNav);
  margin: 0px;
  padding: 10px;
}

a {
  color: var(--colorePrimario);
  list-style: none;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 550;
}

a:hover {
  text-decoration: underline;
}

span.divisore {
  color: rgb(215, 215, 215);
  padding: 2px;
}

a.registra:hover::after {
  text-decoration: none;
}

div a {
  text-decoration: none;
}

div a:hover {
  cursor: pointer;
}

div.logo-bottoni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 7px 16px rgb(233, 233, 233);
}

div.logo img {
  width: 133px;
}

div.bottoni ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

li button {
  display: flex;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

li.button1 button {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  cursor: pointer;
}

li.button2 button {
  border-radius: 3px;
  border: 1px solid var(--colorePrimario);
  background-color: var(--colorePrimario);
  color: white;
  cursor: pointer;
}

li.button1:hover button {
  border-radius: 6px;
  border: 1px solid var(--coloreSecondario);
  background-color: #eaf4f2;
  color: var(--coloreSecondario);
}

button img.app {
  width: 21px;
  padding-right: 10px;
}

button img.user {
  width: 24px;
  padding-right: 10px;
  color: white;
  filter: invert(100%);
}

/* SEZIONE RETTANGOLO VERDE */

div.centrale {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

div.verde {
  width: 1360px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: url("file:///Users/silvia/Documents/GitHub/FS36-Team1-Project1/immagine-piatto.webp"), linear-gradient(to right, #01564a, #00665c);
  background-repeat: no-repeat;
  background-position: 128%;
}

div.prenota {
  padding-left: 200px;
  padding-right: 400px;
}

h1 {
  color: white;
  font-size: 2.5rem;
}

div.citta img {
  width: 15px;
}

div.piatto {
  overflow: hidden;
}

/* SEZIONE THEFORK FESTIVAL */

div.container-festival {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

div.festival img {
  width: 992px;
  border-radius: 20px;
}

/* SEZIONE SCELTI DA THEFORK */

div.container-scelti {
  display: flex;
}

div.scelti span {
  font-weight: 500;
  font-size: 22px;
}

div.cards {
  width: 320px;
  height: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.card1 img,
div.card2 img,
div.card3 img {
  width: 296px;
}

h3.titolo {
  font-size: 16px;
  font-weight: 600;
}

span.testo {
  font-size: 13px;
}

span.scopri {
  font-size: 12px;
  font-weight: 550;
  color: var(--coloreSecondario);
}
