:root {
  --colorePrimario: #00665c;
  --coloreSecondario: #002925;
  --coloreTerziario: #01564a;
  --coloreTitoliBianchi: white;
  --coloreTestiNeri: #272a2f;
  --coloreBackgroundFooter: #000000;
  --coloreSfondoPiccolaNav: #f9fafa;
  --coloreGrigino: rgb(215, 215, 215);
  --swiper-navigation-size: 16px;
  --button-hover-color: #004d45;
  --button-hover-background: #eef6f5;
  --button-clicked-color: #00332e;
  --button-clicked-background: #bddbd8;
  --swiper-navigation-size: 16px;
  --green-thefork: hsl(174, 100%, 20%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", arial, sans-serif;
}

/* NAVBAR IN ALTO */

div.registra-aiuto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--coloreSfondoPiccolaNav);
  margin: 0px;
  padding: 10px;
}

a {
  color: var(--colorePrimario);
  list-style: none;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 550;
}

a:hover {
  text-decoration: underline;
}

span.divisore {
  color: var(--coloreGrigino);
  padding: 2px;
}

a.registra:hover::after {
  text-decoration: none;
}

div a {
  text-decoration: none;
}

div a:hover {
  cursor: pointer;
}

div.logo-bottoni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 7px 16px rgb(239, 239, 239);
}

div.logo img {
  width: 133px;
}

div.bottoni ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

li button {
  display: flex;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

li.button1 button {
  border: 1px solid var(--coloreGrigino);
  border-radius: 5px;
  cursor: pointer;
}

li.button2 button {
  border-radius: 3px;
  border: 1px solid var(--colorePrimario);
  background-color: var(--colorePrimario);
  color: white;
  cursor: pointer;
}

li.button1:hover button {
  border-radius: 6px;
  border: 1px solid var(--coloreTerziario);
  background-color: var(--button-hover-background);
  color: var(--coloreTerziario);
}

button img.app {
  width: 21px;
  padding-right: 10px;
}

button img.user {
  width: 24px;
  padding-right: 10px;
  color: white;
  filter: invert(100%);
}

/* SEZIONE RETTANGOLO VERDE */

div.centrale {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

div.verde {
  width: 1360px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: url("file:///Users/silvia/Documents/GitHub/FS36-Team1-Project1/immagine-piatto.webp"),
    linear-gradient(to right, #01564a, #00665c);
  background-repeat: no-repeat;
  background-position: 128%;
}

div.prenota {
  padding-left: 200px;
  padding-right: 400px;
}

h1 {
  color: white;
  font-size: 2.7rem;
  padding-bottom: 40px;
}

div.citta {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 245px;
  height: 55px;
  padding-left: 15px;
}

div.citta:hover {
  border-radius: 8px;
  background-color: rgb(252, 252, 252);
}

div.citta:active {
  border: 2px solid var(--colorePrimario);
  border-radius: 10px;
}

div.citta img {
  width: 13px;
}

div.citta p {
  font-size: 16px;
  font-weight: 550;
}

div.piatto {
  overflow: hidden;
}

div.container-bianco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 764px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid var(--coloreGrigino);
  padding-left: 10px;
  padding-right: 10px;
}

div.ricerca img {
  width: 15px;
  margin-right: 20px;
}

div.ricerca {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--coloreGrigino);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 0px;
}

div input#ricerca {
  font-family: "Raleway", arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  border-radius: 8px;
  width: 320px;
  height: 51px;
  appearance: none;
  border: 0px;
  padding-right: 10px;
}

div input::placeholder {
  color: rgb(179, 179, 179);
}

div input#ricerca:active {
  border: 2px solid var(--colorePrimario);
  border-radius: 10px;
}

div input#ricerca:hover {
  border-radius: 8px;
  background-color: rgb(252, 252, 252);
}

div button.bottone-cerca {
  width: 100px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid var(--colorePrimario);
  background-color: var(--colorePrimario);
  color: white;
  cursor: pointer;
  font-family: "Raleway", arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* SEZIONE THEFORK PROMO */

div.container-promo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

div.promo img {
  width: 992px;
  border-radius: 15px;
}

/* SEZIONE SCELTI DA THEFORK */

.scelti-bottoni {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
}

div.scelti h2 {
  font-weight: 550;
  font-size: 22px;
  padding: 0px 0px 20px 230px;
}

a.cliccabile {
  all: unset;
}

div.container-slide1 {
  width: 100%;
  margin: 0 auto;
  max-width: 992px;
}

/* div.container-scelti {
  display: flex;
  justify-content: center;
} */

/* div.cards {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 250px 50px 250px;
  gap: 16px;
} */

div.card1,
div.card2,
div.card3 {
  min-height: 336px;
  padding-bottom: 50px;
}

div.interno-card:hover {
  box-shadow: -1px 2px 6px 0px var(--coloreGrigino);
}

div.interno-card {
  /* width: 320px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

div.card1 img,
div.card2 img,
div.card3 img {
  /* width: 296px; */
  width: 100%;
  border-radius: 5px;
}

div.testi {
  display: flex;
  flex-direction: column;
  /* padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 20px; */
}

div.testi h3.titolo {
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 10px;
}

div.testi span {
  font-size: 13px;
  font-weight: 300;
}

div.testi h3.scopri {
  font-size: 12px;
  font-weight: 550;
  color: var(--coloreTerziario);
  padding-top: 10px;
}

section {
  margin-left: 18%;
  margin-right: 15%;
  letter-spacing: 0;
  line-height: 1.5;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  padding: 10px 10px 0px 10px !important;
}

/* .swiper {
  margin-left: auto;
  margin-right: 20%;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 40px 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 10px 10px 10px 10px !important;
} */

.swiper-wrapper {
  display: flex;
  width: auto;
  height: auto;
  cursor: pointer;
  align-items: stretch; /* Assicura che tutte le slide abbiano la stessa altezza */
}

.swiper-slide {
  width: auto;
  flex-shrink: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--green-thefork);
  border-color: #000000;
  width: 45px;
  height: 45px;
  border-radius: 10%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-button-next {
  /* left: 78.5%; */
  right: 10px;
  left: auto;
}

.swiper-button-prev {
  /* left: 75%; */
  left: 10px;
  right: auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--button-hover-color);
  background-color: var(--button-hover-background);
  border-color: var(--button-hover-color);
  border: solid 1px;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: var(--button-clicked-background);
  color: var(--button-clicked-color);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: not-allowed;
  background-color: #ecedef;
  color: #959ba7;
  pointer-events: auto;
  opacity: 0.35;
}
.swiper-button-prev {
  margin-left: auto;
}

.swiper-button-next {
  margin-left: 30px;
}
